<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51069937010-d1ur4en9t8qbrcdn9j02kmufha1hvqcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51069937010-d1ur4en9t8qbrcdn9j02kmufha1hvqcu</string>
	<key>API_KEY</key>
	<string>AIzaSyCPj5Ax5-4jeiYYg64660rZdKZM7LAYuq0</string>
	<key>GCM_SENDER_ID</key>
	<string>51069937010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebaseStarter</string>
	<key>PROJECT_ID</key>
	<string>fir-starter-3154a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-starter-3154a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51069937010:ios:ad00634bfa4a2b04ee69eb</string>
</dict>
</plist>